<div id="navs">
    <nav class="pull-left">
        <div data-location="Spå">Spånga</div>
    </nav>
    <nav class="pull-right">
        <div data-location="Udl">Ulriksdal</div>
    </nav>
    <nav class="pull-left narrow">
        <div data-location="Sub">Sundbyberg</div>
    </nav>
    <nav class="center">
        <div data-location="Ke">Karlberg</div>
    </nav>
    <nav class="pull-right narrow">
        <div data-location="Sol">Solna</div>
    </nav>
    <nav class="center wide">
        <div data-location="Cst">Centralen</div>
        <div data-location="Sst">Södra</div>
        <div data-location="Åbe">Årstaberg</div>
    </nav>
    <nav class="pull-left narrow">
        <div data-location="Sta">Stuvsta</div>
        <div data-location="Hu">Huddinge</div>
        <div data-location="Flb">Flemingsberg</div>
        <div data-location="Tul">Tullinge</div>
        <div data-location="Tu">Tumba</div>
    </nav>
    <nav class="center">
        <div data-location="Äs">Älvsjö</div>
    </nav>
    <nav class="pull-right narrow">
        <div data-location="Fas">Farsta</div>
    </nav>
</div>
