<div id="navs">
    <nav class="pull-left">
        <div><a href="javascript:void(0)" onclick="getDepartures('Spå')">Spånga</a></div>
    </nav>
    <nav class="pull-right">
        <div><a href="javascript:void(0)" onclick="getDepartures('Udl')">Ulriksdal</a></div>
    </nav>
    <nav class="pull-left narrow">
        <div><a href="javascript:void(0)" onclick="getDepartures('Sub')">Sundbyberg</a></div>
    </nav>
    <nav class="center">
        <div><a href="javascript:void(0)" onclick="getDepartures('Ke')">Karlberg</a></div>
    </nav>
    <nav class="pull-right narrow">
        <div><a href="javascript:void(0)" onclick="getDepartures('Sol')">Solna</a></div>
    </nav>
    <nav class="center wide">
        <div><a href="javascript:void(0)" onclick="getDepartures('Cst')">Centralen</a></div>
        <div><a href="javascript:void(0)" onclick="getDepartures('Sst')">Södra</a></div>
        <div><a href="javascript:void(0)" onclick="getDepartures('Åbe')">Årstaberg</a></div>
    </nav>
    <nav class="pull-left narrow">
        <div><a href="javascript:void(0)" onclick="getDepartures('Sta')">Stuvsta</a></div>
        <div><a href="javascript:void(0)" onclick="getDepartures('Hu')">Huddinge</a></div>
        <div><a href="javascript:void(0)" onclick="getDepartures('Flb')">Flemingsberg</a></div>
        <div><a href="javascript:void(0)" onclick="getDepartures('Tul')">Tullinge</a></div>
        <div><a href="javascript:void(0)" onclick="getDepartures('Tu')">Tumba</a></div>
    </nav>
    <nav class="center">
        <div><a href="javascript:void(0)" onclick="getDepartures('Äs')">Älvsjö</a></div>
    </nav>
    <nav class="pull-right narrow">
        <div><a href="javascript:void(0)" onclick="getDepartures('Fas')">Farsta</a></div>
    </nav>
</div>
