<div id="index">×</div>
<div id="navs">
    <nav class="pull-left">
        <div data-location="Kän">Kän</div>
        <div data-location="Khä">Khä</div>
        <div data-location="Jkb">Jkb</div>
        <div data-location="Bkb">Bkb</div>
        <div data-location="Spå">Spå</div>
    </nav>
    <nav class="pull-right">
        <div data-location="Nvk">Nvk</div>
        <div data-location="Hgv">Hgv</div>
        <div data-location="Sol">Sol</div>
        <div data-location="Hel">Hel</div>
        <div data-location="Udl">Udl</div>
    </nav>
    <nav class="pull-left narrow">
        <div data-location="Sub">Sub</div>
    </nav>
    <nav class="center">
        <div data-location="Sod">Sod</div>
    </nav>
    <nav class="pull-right narrow">
        <div data-location="So">So</div>
    </nav>
    <nav class="center wide">
        <div data-location="Sci">Sci</div>
        <div data-location="Sst">Sst</div>
        <div data-location="Åbe">Åbe</div>
    </nav>
    <nav class="pull-left narrow">
        <div data-location="Sta">Sta</div>
    </nav>
    <nav class="center">
        <div data-location="Äs">Äs</div>
    </nav>
    <nav class="pull-right narrow">
        <div data-location="Fas">Fas</div>
    </nav>
    <nav class="pull-left">
        <div data-location="Hu">Hu</div>
        <div data-location="Flb">Flb</div>
        <div data-location="Tul">Tul</div>
        <div data-location="Tu">Tu</div>
        <div data-location="Rön">Rön</div>
        <div data-location="Öte">Öte</div>
        <div data-location="Söd">Söd</div>
    </nav>
    <nav class="pull-right">
        <div data-location="Tåd">Tåd</div>
        <div data-location="Skg">Skg</div>
        <div data-location="Hnd">Hnd</div>
        <div data-location="Jbo">Jbo</div>
        <div data-location="Vhe">Vhe</div>
        <div data-location="Kda">Kda</div>
        <div data-location="Ts">Ts</div>
    </nav>
</div>
<div id="trains">
</div>