<div id="index">×</div>
<div id="navs">
    <nav class="pull-left">
        <div data-location="Spå">Spå</div>
    </nav>
    <nav class="pull-right">
        <div data-location="Udl">Udl</div>
    </nav>
    <nav class="pull-left narrow">
        <div data-location="Sub">Sub</div>
    </nav>
    <nav class="center">
        <div data-location="Ke">Ke</div>
    </nav>
    <nav class="pull-right narrow">
        <div data-location="Sol">Sol</div>
    </nav>
    <nav class="center wide">
        <div data-location="Cst">Cst</div>
        <div data-location="Sst">Sst</div>
        <div data-location="Åbe">Åbe</div>
    </nav>
    <nav class="pull-left narrow">
        <div data-location="Sta">Sta</div>
        <div data-location="Hu">Hu</div>
        <div data-location="Flb">Flb</div>
        <div data-location="Tul">Tul</div>
        <div data-location="Tu">Tu</div>
    </nav>
    <nav class="center">
        <div data-location="Äs">Äs</div>
    </nav>
    <nav class="pull-right narrow">
        <div data-location="Fas">Fas</div>
    </nav>
</div>
<div id="trains">
</div>