<table>
    {{#each this}}
        <tr>
            <td>{{this.location}}</td>
            <td>{{this.advertised}}</td>
            <td>
                {{#unless this.actual}}
                    <em>{{this.estimated}}</em>
                {{/unless}}
                <b>{{this.actual}}</b>
            </td>
        </tr>
    {{/each}}
</table>
